extends layout

block content
  a(href="/dashboard" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") Home
  .container(style="max-width: 1200px; margin: 40px auto; padding: 0 20px; background-color: #f4f4f9;")
    h1(style="font-size: 2.5rem; font-weight: bold; text-align: center; margin-bottom: 20px;")= title
    

    if groups
      ul(style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; list-style-type: disc; padding-left: 20px;")
        each group in groups
          li(style="background-color: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 8px; padding: 20px; display: flex; flex-direction: column; align-items: center;")
            a(href=`/groups/${group.id}`, style="font-size: 1.25rem; font-weight: 600; color: #1D4ED8; text-decoration: none; margin-bottom: 16px;")= group.name
    else
      p(style="text-align: center; color: #6B7280; font-size: 1.125rem;") You have no groups. Create or Join One.

      .text-center(style="margin-top: 20px;")
        a(href="/dashboard", style="font-size: 1.25rem; font-weight: 600; color: #1D4ED8; text-decoration: none;") Home
